body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: black;
}

header {
    background: #0b2f27;
    padding: 15px 30px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    position: relative;
    height: 350px;
    background: url('hero.jpg') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero h1 {
    color: white;
    font-size: 36px;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    border-radius: 8px;
}

.section {
    padding: 40px 5%;
}

.section h2 {
    margin-bottom: 20px;
    color: #0b2f27;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
}

.card {
    background: rgb(49, 49, 49);
    padding: 60px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card h3 {
    font-size: 15px;
    margin: 10px 0;
}

.card p {
    color: black;
}

footer {
    background: #0b2f27;
    color: white;
    padding: 40px 5%;
    text-align: center;
    margin-top: 40px;
}